parameters:
    level: 9
    paths:
        - src
        - tests/Functional
        - tests/Unit
    ignoreErrors:
        # src
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::fixXmlConfig\(\).#'
        - '#Symandy\\DatabaseBackupBundle\\DependencyInjection\\SymandyDatabaseBackupExtension::loadInternal\(\) has parameter \$mergedConfig with no value type specified in iterable type array.#'
        - '#Method Symandy\\DatabaseBackupBundle\\Registry\\Backup\\BackupRegistry::registerFromNameAndOptions\(\) has parameter \$options with no value type specified in iterable type array.#'
        - '#Method Symandy\\DatabaseBackupBundle\\Registry\\Backup\\BackupRegistryInterface::registerFromNameAndOptions\(\) has parameter \$options with no value type specified in iterable type array.#'
        - '#Method Symandy\\DatabaseBackupBundle\\Factory\\FactoryInterface::create\(\) has parameter \$options with no value type specified in iterable type array.#'
        - '#Method Symandy\\DatabaseBackupBundle\\Factory\\NamedFactoryInterface::createNamed\(\) has parameter \$options with no value type specified in iterable type array.#'
        - '#Method Symandy\\DatabaseBackupBundle\\Factory\\Factory::create\(\) has parameter \$options with no value type specified in iterable type array.#'
        - '#Method Symandy\\DatabaseBackupBundle\\Factory\\Backup\\BackupFactory::createNamed\(\) has parameter \$options with no value type specified in iterable type array.#'
        - '#Method Symandy\\DatabaseBackupBundle\\Factory\\Connection\\ConnectionFactory::create\(\) has parameter \$options with no value type specified in iterable type array.#'

        # tests
        - '#Method Symandy\\Tests\\DatabaseBackupBundle\\Functional\\Command\\BackupDatabasesCommandTest::getConnectionOptions\(\) return type has no value type specified in iterable type array.#'
        - '#Method Symandy\\Tests\\DatabaseBackupBundle\\Unit\\DependencyInjection\\Compiler\\RegisterConnectionsPassTest::getConnectionsConfiguration\(\) return type has no value type specified in iterable type array.#'
        - '#Method Symandy\\Tests\\DatabaseBackupBundle\\Unit\\DependencyInjection\\ConfigurationTest::processConfiguration\(\) has parameter \$configs with no value type specified in iterable type array.#'
        - '#Method Symandy\\Tests\\DatabaseBackupBundle\\Unit\\DependencyInjection\\ConfigurationTest::processConfiguration\(\) return type has no value type specified in iterable type array.#'
        - message: '#^Static method Symandy\\Tests\\DatabaseBackupBundle\\Unit\\Builder\\ConfigurationBuilderTest\:\:provideUrls\(\) is unused\.$#'
          path: tests/*
        - message: '#^Method Symandy\\Tests\\DatabaseBackupBundle\\Unit\\Builder\\ConfigurationBuilderTest\:\:testBuildFromUrl\(\) has parameter \$expected with no value type specified in iterable type array\.$#'
          path: tests/*
        - message: '#^Method Symandy\\Tests\\DatabaseBackupBundle\\Unit\\Builder\\ConfigurationBuilderTest\:\:provideUrls\(\) return type has no value type specified in iterable type array\.$#'
          path: tests/*

